<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 services
    <h1>Services</h1>
    <p>We offer a range of medical services to cater to your health needs.</p>
    <ul>
        <li>General Consultation</li>
        <li>Pediatric Care</li>
        <li>Emergency Services</li>
        <li>Surgical Procedures</li>
        <li>Health Education and Counseling</li>
    </ul>

    <h2>Contact Us</h2>
    <p>If you have any questions or would like to schedule an appointment, please contact us.</p>
</body>
</html>